.game-board {
  width: 400px;
  height: 500px;
  margin: 20px auto;
  border-radius: 3px;
  background-color: #FBC70F;
  padding: 10px;
  &__playing-area {
    display: flex;
    flex-flow: wrap;
    background-color: white;
    width: 100%;
    padding-bottom: 10px;
  }
  &__playing-plate {
    width: 82px;
    height: 82px;
    background-color: rgba(200,200,200, 0.5);
    margin: 10px 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    color: #04BFF6;
    user-select: none;
  }
}