.kam-slider {
  width: 80%;
  margin: 20px auto;
  height: 500px;
  overflow: hidden;
  position: relative;
  &__wrapper {
    user-select: none;
    display: flex;
    height: 100%;
    transform: translateX(0);
    transition: transform 500ms ease-in-out;
  }
  &__content-wrapper {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-shrink: 0;
    justify-content: flex-start;
  }
  &__item {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    flex-shrink: 0;
    overflow: hidden;
    text-align: center;
    background-color: cadetblue;
    &--first {
      background-color: cadetblue;
    }
    &--second {
      background-color: #65a93c;
    }
    &--third {
      background-color: #ffb5ce;
    }
  }
  &__slider-btn {
    position: absolute;
    width: 34px;
    height: 34px;
    background-color: #333;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    opacity: .4;
    transition: all 0.25s ease-in-out 0s;
    &::after {
      content: "";
      position: absolute;
      top: 60%;
      width: 12px;
      height: 12px;
      border: 2px solid white;
      border-top: none;
      border-right: none;
    }
    &:hover {
      cursor: pointer;
    }
    &--left {
      left: 10px;
      &::after {
        left: 15px;
        transform: rotate(45deg) translate(-50%, -50%);
      }
    }
    &--right {
      right: 10px;
      &::after {
        right: 15px;
        transform: rotate(225deg) translate(50%, 50%);
      }
    }
    &--disabled {
      display: none;
      background-color: rgba(230, 230, 230, 0.5);
    }
  }
  &__dots {
    display: flex;
    position: absolute;
    bottom: 33px;
    right: 33px;
    align-items: center;
    list-style: none;
  }
  &__control-dot {
    margin-right: 15px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #f1f2f6;
    position: relative;
    &:hover {
      cursor: pointer;
    }
    &.current {
      width: 8px;
      height: 8px;
      background-color: black;
    }
  }
  &__pager {
    display: flex;
    position: absolute;
    bottom: 33px;
    left: 33px;
    &-delimiter {
      display: inline-block;
      margin: 0 5px;
    }
  }
}

.fake-btn{
  width: 100px;
  height: 100px;
  margin: 0 auto;
  &.right{
    background-color: black;
  }
  &.left{
    background-color: white;
  }
}