.components-list {
  width: 50%;
  margin: 10px auto;
  border-radius: 1px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  box-shadow: 0 0 5px 0 black;
  &__item {
    text-align: center;
    padding: 10px 0;
    &:first-child {
      border-bottom: 1px solid #a1a1a1;
    }
    &:hover {
      background-color: #F1f1f1;
    }
  }
  &__item-link {
    display: block;
    width: 100%;
  }
}