
.drag-plugin {
  display: flex;
  width: 30%;
  margin: 100px auto;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.42);
  border-radius: 3px 3px 0 0;
  &__head {
    text-align: center;
    border: 1px solid black;
    margin: 0;
    padding: 20px 0;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    background-color: rgba(215, 215, 215, 0.5)
  }
  &__drag-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 50px 7px;
    align-items: center;
    background-color: cadetblue;
    min-width: 200px;
  }
}
.draggable {
  z-index: 3;
  position: absolute;
  justify-content: center;
  user-select: none;
  display: flex;
  align-items: center;
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 10px;
  left: 0;
  top: -12px;
  &:hover {
    cursor: pointer;
  }
  &::after {
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    background-color: #65a93c;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.range-follow {
  z-index: 2;
  left: 0;
  position: absolute;
  height: 5px;
  border-radius: 5px 0 0 5px;
  background-color: orange;
  width: 0;
}
.drag-range {
  position: relative;
  width: 90%;
  margin: 0 auto;
  height: 5px;
  border-radius: 5px;
  background-color: #666666;
  &:hover {
    cursor: pointer;
  }
}
.drag-value {
  padding: 5px;
  border: none;
  border-radius: 3px;
  margin-top: 20px;
  text-align: center;
}
