html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}
body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  background: url('../img/bg.png');
}
*, ::after, ::before {
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: #111111;
}
ul {
  margin: 0;
  padding: 0;
}